.lightning {
  position: absolute;
  top: 50%; /* Adjust as needed */
  font-size: 2rem; /* Adjust the size */
  color: rgb(169, 169, 26); /* Adjust the color */
  animation: move 9s linear infinite; /* Adjust the animation duration */
}

@keyframes move {
  0% {
    /* top:100px; */
    left: -100px; /* Adjust the starting position */
  }
  100% {
    left: calc(100% + 100px); /* Adjust the ending position */
  }
}
