.lightning {
  position: absolute;
  top: 5%; 
    /* animation: move 9s linear infinite;  */
}

@keyframes move {
  0% {
    left: -100px; /* Adjust the starting position */
  }
  100% {
    left: calc(100% + 100px); /* Adjust the ending position */
  }
}
