
/* start.css */

body {
	margin: 0;
	padding: 0;
	background-color: black;
 }
 
 .title {
	color: rgb(255, 255, 255);
 }
 
 .image-wrapper {
	display: column;
	width: 100%;
 }
 
 .background-Pic {
	width: 100%;
	height: 26em;
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
 }
 
 .mirror-image {
	transform: scaleX(-1)
	rotate(180deg);	/* Optionally, you can add other styles to adjust the positioning of the mirrored image */
 }
 